obj/**
*.log
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.env
.env.local
.env.*.local
packages/
*.nupkg
*.snupkg
node_modules/
*.tmp
*.cache
*.csproj.user
publish/
out/
*.bak
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.inick
project.lock.json
