@page "/"
@inherits Application.Source.Helpers.Widget
@inject Application.Source.Singletons.Agent agent

<canvas id="background" width="1024" height="1024" />
<div class="container">
    <Application.Source.Layouts.Components.Footer />
</div>

@code {
    protected override void Rendered()
    {
        agent.Initialize();
    }
}
