@using Application.Source.Layout.Svgs
@inject Application.Source.Core.Context context

<footer>
    <Application.Source.Layout.Svgs.Footer />
    <button class="bar" @onclick="ToggleDropdown" type="button" title="theme">
        @switch (context.Themes.Theme.Name)
        {
            case "light":
                <Sun />
                break;
            case "high_contrast":
                <HighContrast />
                break;
            case "dark":
            default:
                <Moon />
                break;
        }
    </button>
    <ul class="@(showDropdown ? "visible" : "hidden")">
        <li>
            <button @onclick="SetDarkTheme" type="button">
                <Moon />
            </button>
        </li>
        <li>
            <button @onclick="SetLightTheme">
                <Sun />
            </button>
        </li>
        <li>
            <button @onclick="SetHighContrastTheme">
                <HighContrast />
            </button>
        </li>
    </ul>
</footer>

@code {
    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
        StateHasChanged();
    }

    private async void SetDarkTheme()
    {
        await context.Themes.SetCurrentThemeName("dark");
    }

    private async void SetLightTheme()
    {
        await context.Themes.SetCurrentThemeName("light");
    }

    private async void SetHighContrastTheme()
    {
        await context.Themes.SetCurrentThemeName("high_contrast");
    }
}